<template name="example">
    <div>Hello {{ = name || 'world' }}!</div>

    <template is="foreach" data="{{ = tags }}" as="tag">
        <p>Repeat me {{ = tag }}</p>
    </template>

    <self-closing/>

    <another-self-closing />

    <multi-line-self-closing attr1="special <characters> in here are > < < > ok" attr2="..."
          attr3="attr 3 value"
          attr4="attr 4 value" />

    <multi-line-tag foo="bar"
        bar="foo" test="testing"
        test2="test">

    </multi-line-tag>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(e)
        {
            // > < < >
            console.log("loaded");

            for(var snippet of document.querySelectorAll('pre code'))
            {
                if(snippet.innerHTML.length > 750)
                {
                    snippet.className += ' expand';
                }
            }
        });
    </script>
</template>